
{% if my_questions %}

  <h4>我的问题</h4>
  <hr />

  <ul>
    {% for question in my_questions %}
      <li><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></li>
    {% endfor %}
  </ul>

  <br />

{% endif %}

<h4>分类</h4>
<hr />

<ul>
  {% for category in categories %}
    <li><a href="{% url "knowledge_list_category" category.slug %}">{{ category.title }}</a></li>
  {% endfor %}
</ul>

<br />

<h4>导航</h4>
<hr />

<ul>
  <li><a href="{% url "knowledge_ask" %}">提问或给出解答</a></li>
  <li><a href="{% url "knowledge_index" %}">回主页</a></li>
</ul>
